body {
  background-color: #E6E6E6;
}

header {
  background-color: #F1DFB9;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}

input {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

label {
  float: left;
}

ol {
  list-style-position: inside;
  margin-bottom: 20px;
}

ul {
  position: absolute;
  margin-left: 238px;
}

.form-control {
  max-width: 225px;
}

#hide-bullet {
  display: none;
}

.left-box {
  float: left;
  width: 320px;
  background-color: #97BA92;
  margin-top: 30px;
  margin-right: 70px;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 15px;
  padding-bottom: 500px;;
}

.left-box h3 {
  color: #F1DFB9;
}

.left-box h4 {
  color: #ffffff;
}

.rules-box {
  margin-top: 65px;
}

.title {
  font-size: 60px;
}
